@{ ViewData["Title"] = "Home"; }
<div style="border: 1px solid gray; padding: 20px; border-radius: 10px; margin-top: 05%;">
    <h2>Aplicação desenvolvida para CRUD de: </h2>
    <ul>
        <li>Países</li>
        <li>Estados</li>
        <li>Cidades</li>
        <li>Pacientes</li>
    </ul>
</div>

